body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('../image/co2.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
    position: relative; /* Position relative for content on top of overlay */
    z-index: 1; /* Ensure content is above overlay */
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff5733; /* Button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #c70029; /* Button hover color */
}
